<section id="about" class="about">
  <div class="container">
    <div class="about-wrap">
      <div class="about-wrap-text">
        <h3 class="about-wrap-title-one">About</h3>
        <h3 class="about-wrap-title-two">Light Luck Quest</h3>
        <p class="about-wrap-text-p">
          At Light Luck Quest, we believe in the power of mindfulness,
          self-reflection, and holistic well-being. Our retreat is a sanctuary
          designed to help individuals disconnect from stress, refocus their
          minds, and embark on a journey of inner discovery.
        </p>
        <p class="about-wrap-text-p">
          Nestled in the peaceful surroundings of Konya, our retreat center
          offers a blend of guided meditation, yoga, nature therapy, and
          transformative workshops to help you cultivate clarity, resilience,
          and personal fulfillment.
        </p>
      </div>
      <div class="about-img-wrap">
        <picture class="about-img">
          <source
            srcset="
              ../img/about/about-desk-1x.png 1x,
              ../img/about/about-desk-1x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/about/about-mob-1x.png 1x,
              ../img/about/about-mob-1x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="../img/about/about-mob-1x.png"
            alt="Image about light luck quest"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<div class="section-divider"></div>
