<section id="core" class="core">
  <div class="container">
    <div class="core-wrap">
      <div class="core-wrap-title">
        <h3 class="core-wrap-title-one">Core</h3>
        <h3 class="core-wrap-title-two">Mindfulness Principles</h3>
      </div>
      <div class="core-wrap-context">
        <div class="dop-wrap-content-one">
          <div class="core-wrap-context-detail">
            <div class="core-wrap-description">
              <div class="core-wrap-description-two">
                <img
                  class="core-wrap-description-img"
                  src="./img/core/mandala-1.png"
                  alt="Image mandala"
                />
                <p class="core-wrap-description-title">Presence & Awareness</p>
              </div>
              <p class="core-wrap-description-text">
                Learn to live fully in the moment, embracing each experience
                without distraction.
              </p>
            </div>
          </div>

          <div class="core-wrap-context-detail">
            <div class="core-wrap-description">
              <div class="core-wrap-description-two">
                <img
                  class="core-wrap-description-img"
                  src="./img/core/mandala-2.png"
                  alt="Image mandala"
                />
                <p class="core-wrap-description-title">Breath & Movement</p>
              </div>
              <p class="core-wrap-description-text">
                Harness the power of breath and mindful movement to enhance
                physical and mental well-being.
              </p>
            </div>
          </div>

          <div class="core-wrap-context-detail">
            <div class="core-wrap-description">
              <div class="core-wrap-description-two">
                <img
                  class="core-wrap-description-img"
                  src="./img/core/mandala-3.png"
                  alt="Image mandala"
                />
                <p class="core-wrap-description-title">
                  Connection with Nature
                </p>
              </div>
              <p class="core-wrap-description-text">
                Experience the healing benefits of nature and learn to
                incorporate natural elements into daily mindfulness practices.
              </p>
            </div>
          </div>
        </div>

        <div class="dop-wrap-content-two">
          <div class="core-wrap-context-detail-two">
            <div class="core-wrap-description">
              <div class="why-wrap-description-two">
                <img
                  class="core-wrap-description-img"
                  src="./img/core/mandala-4.png"
                  alt="Image mandala"
                />
                <p class="core-wrap-description-title">
                  Emotional Balance & Clarity
                </p>
              </div>
              <p class="core-wrap-description-text">
                Develop emotional intelligence and self-awareness to navigate
                challenges with calm and confidence.
              </p>
            </div>
          </div>

          <div class="core-wrap-context-detail-two">
            <div class="core-wrap-description">
              <div class="core-wrap-description-two">
                <img
                  class="core-wrap-description-img"
                  src="./img/core/mandala-5.png"
                  alt="Image mandala"
                />
                <p class="core-wrap-description-title">
                  Gratitude & Positivity
                </p>
              </div>
              <p class="core-wrap-description-text">
                Cultivate an attitude of gratitude, shifting your focus to the
                positive aspects of life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-divider"></div>
