<footer class="footer">
  <div class="footer-wrap">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="./privacy-policy.html" class="footer-nav-link"
          >Privacy policy</a
        >
      </li>

      <li class="footer-nav-img">
        <img
          width="2"
          height="22"
          src="../img/footer-line.png"
          class="footer-nav-img-i"
        />
      </li>

      <li class="footer-nav-item">
        <a href="./terms.html" class="footer-nav-link">Terms and Conditions</a>
      </li>

      <li class="footer-nav-img">
        <img
          width="2"
          height="22"
          src="../img/footer-line.png"
          class="footer-nav-img-i"
        />
      </li>

      <li class="footer-nav-item">
        <a href="./cookies.html" class="footer-nav-link">Cookies Policy</a>
      </li>
    </ul>

    <p class="footer-text">All rights reserved lightluckquest.com | 2025</p>
  </div>
</footer>
