<section id="guest" class="guest">
  <div class="container">
    <div class="guest-wrap">
      <h3 class="guest-wrap-title-one">Guest</h3>
      <h3 class="guest-wrap-title-two">Testimonials</h3>

      <div class="guest-wrap-content">
        <picture class="guest-wrap-img">
          <source
            srcset="
              ../img/guest/guest-desk-1x.png 1x,
              ../img/guest/guest-desk-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="../img/guest/guest-desk-1x.png"
            alt="Image guest testimonials"
          />
        </picture>
        <div class="guest-carrousel">
          <div class="guest-carrousel-content">
            <div class="guest-carrousel-wrap-text">
              <p class="guest-carrousel-text">
                "Light Luck Quest was exactly what I needed. I left feeling
                refreshed, focused, and more connected to myself than ever
                before."
              </p>
              <p class="guest-carrousel-name">Elena K.</p>
            </div>
          </div>

          <div class="guest-carrousel-content">
            <div class="guest-carrousel-wrap-text">
              <p class="guest-carrousel-text">
                "The retreat helped me find inner peace and regain control over
                my thoughts. The guided meditations were life-changing."
              </p>
              <p class="guest-carrousel-name">Omar Y.</p>
            </div>
          </div>

          <div class="guest-carrousel-content">
            <div class="guest-carrousel-wrap-text">
              <p class="guest-carrousel-text">
                "I never realized how much I needed a digital detox. The time
                spent in nature helped me reset my mind and priorities."
              </p>
              <p class="guest-carrousel-name">Sofia M.</p>
            </div>
          </div>

          <div class="guest-carrousel-wrap-btn">
            <button class="guest-carrousel-btn-left">
              <img
                class="img-btn-left"
                src="../img/left.png"
                alt="Button left"
              />
            </button>
            <button class="guest-carrousel-btn-right">
              <img
                class="img-btn-right"
                src="../img/right.png"
                alt="Button right"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-divider"></div>
