<header class="header">
  <div class="header-wrapper">
    <img
      width="44"
      height="44"
      src="../img/favicon/favicon500.png"
      alt="Logo"
      class="header-logo"
    />

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="#about" class="nav-link">About Light Luck Quest</a>
        </li>

        <li class="nav-item">
          <a href="#our" class="nav-link">Our Retreat Programs</a>
        </li>
        <li class="nav-item">
          <a href="#why" class="nav-link">Why Choose Us?</a>
        </li>

        <li class="nav-item">
          <a href="#guest" class="nav-link">Guest Testimonials</a>
        </li>

        <li class="nav-item">
          <a href="#core" class="nav-link">Core Mindfulness Principles</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-burger" data-modal-open>
      <img
        width="44"
        height="44"
        src="../img/burger.png"
        alt="Burger button"
        class="header-burger-img"
      />
    </button>
  </div>
</header>
