<section id="join" class="join">
  <div class="container">
    <div class="join-wrap">
      <div class="join-wrap-text">
        <h3 class="join-wrap-title-one">Join</h3>
        <h3 class="join-wrap-title-two">the Journey</h3>
        <p class="join-wrap-text-p">
          Are you ready to embrace mindfulness, reduce stress, and embark on a
          path of personal transformation?
        </p>
        <p class="join-wrap-text-p">
          Begin your journey with Light Luck Quest today!
        </p>
        <p class="join-wrap-text-p-two">
          Contact us:
          <a class="join-mail" href="mailto:info@lightluckquest.com"
            >info@lightluckquest.com.</a
          >
        </p>
      </div>
      <div class="join-img-wrap">
        <picture class="join-img">
          <source
            srcset="
              ../img/join/join-desk-1x.png 1x,
              ../img/join/join-desk-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="../img/join/join-desk-1x.png"
            alt="Image join the journey"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
