<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <div class="modal-header">
      <img
        class="modal-header-logo"
        src="./img/favicon/favicon500.png"
        alt="Logo image"
      />
      <button type="button" class="back-button is-hidden" data-modal-close>
        <img
          width="44"
          height="44"
          src="./img/burger.png"
          alt="burger-button"
          class="back-img"
        />
      </button>
    </div>

    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="/" class="modal-nav-link">Home</a>
        </li>

        <li class="modal-nav-item">
          <a href="#about" class="modal-nav-link">About Light Luck Quest</a>
        </li>

        <li class="modal-nav-item">
          <a href="#our" class="modal-nav-link">Our Retreat Programs</a>
        </li>

        <li class="modal-nav-item">
          <a href="#why" class="modal-nav-link">Why Choose Us?</a>
        </li>

        <li class="modal-nav-item">
          <a href="#guest" class="modal-nav-link">Guest Testimonials</a>
        </li>

        <li class="modal-nav-item">
          <a href="#core" class="modal-nav-link">Core Mindfulness Principles</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
