<section id="why" class="why">
  <div class="container">
    <div class="why-wrap">
      <div class="why-wrap-title">
        <h3 class="why-wrap-title-one">Why</h3>
        <h3 class="why-wrap-title-two">Choose Us?</h3>
      </div>
      <div class="why-wrap-context">
        <div class="dop-wrap-content-one">
          <div class="why-wrap-context-detail">
            <picture class="why-img">
              <source
                srcset="
                  ../img/why/why-desk-1-1x.png 1x,
                  ../img/why/why-desk-1-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/why/why-mob-1-1x.png 1x,
                  ../img/why/why-mob-1-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="../img/why/why-mob-1-1x.png"
                alt="Image Why Choose Us"
              />
            </picture>
            <div class="why-wrap-description">
              <p class="why-wrap-description-title">Expert Instructors</p>
              <p class="why-wrap-description-text">
                Learn from experienced mindfulness coaches, yoga practitioners,
                and wellness guides.
              </p>
            </div>
          </div>

          <div class="why-wrap-context-detail">
            <picture class="why-img">
              <source
                srcset="
                  ../img/why/why-desk-2-1x.png 1x,
                  ../img/why/why-desk-2-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/why/why-mob-2-1x.png 1x,
                  ../img/why/why-mob-2-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="../img/why/why-mob-2-1x.png"
                alt="Image Why Choose Us"
              />
            </picture>
            <div class="why-wrap-description">
              <p class="why-wrap-description-title">Tranquil Environment</p>
              <p class="why-wrap-description-text">
                Escape the chaos of daily life in a peaceful and rejuvenating
                setting.
              </p>
            </div>
          </div>

          <div class="why-wrap-context-detail">
            <picture class="why-img">
              <source
                srcset="
                  ../img/why/why-desk-3-1x.png 1x,
                  ../img/why/why-desk-3-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/why/why-mob-3-1x.png 1x,
                  ../img/why/why-mob-3-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="../img/why/why-mob-3-1x.png"
                alt="Image Why Choose Us"
              />
            </picture>
            <div class="why-wrap-description">
              <p class="why-wrap-description-title">Holistic Approach</p>
              <p class="why-wrap-description-text">
                Experience a combination of physical, mental, and emotional
                well-being practices.
              </p>
            </div>
          </div>
        </div>

        <div class="dop-wrap-content-two">
          <div class="why-wrap-context-detail-two">
            <picture class="why-img">
              <source
                srcset="
                  ../img/why/why-desk-4-1x.png 1x,
                  ../img/why/why-desk-4-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/why/why-mob-4-1x.png 1x,
                  ../img/why/why-mob-4-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="../img/why/why-mob-4-1x.png"
                alt="Image Why Choose Us"
              />
            </picture>
            <div class="why-wrap-description-two">
              <p class="why-wrap-description-title">
                Small, Personalized Groups
              </p>
              <p class="why-wrap-description-text-two">
                Enjoy an intimate retreat setting for deeper connection and
                personalized guidance.
              </p>
            </div>
          </div>

          <div class="why-wrap-context-detail-two">
            <picture class="why-img">
              <source
                srcset="
                  ../img/why/why-desk-5-1x.png 1x,
                  ../img/why/why-desk-5-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/why/why-mob-5-1x.png 1x,
                  ../img/why/why-mob-5-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="../img/why/why-mob-5-1x.png"
                alt="Image Why Choose Us"
              />
            </picture>
            <div class="why-wrap-description-two">
              <p class="why-wrap-description-title">Lasting Transformation</p>
              <p class="why-wrap-description-text">
                Gain practical tools and insights to maintain mindfulness in
                everyday life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-divider"></div>
